<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DIRECTORY" value="logs"/>
    <springProperty scope="context" name="APP_NAME" source="app.projectName"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %p %t %c{0}.%M - %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss.sss}][%-5p][%C][%t][%L]%m%n
            </pattern>
        </encoder>
    </appender>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="default">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <!-- rollover daily -->
                <fileNamePattern>${DIRECTORY}/%d{yyyy-MM-dd}-${APP_NAME}.%i.log
                </fileNamePattern>
                <maxFileSize>50MB</maxFileSize>
            </rollingPolicy>
            <encoder>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.sss}][%-5p][%C][%t][%L]%m%n
                </pattern>
            </encoder>
        </appender>
<!--        <appender name="SENTRY" class="io.sentry.logback.SentryAppender">-->
<!--            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--                <level>WARN</level>-->
<!--            </filter>-->
<!--        </appender>-->

        <root level="WARN">
            <appender-ref ref="FILE"/>
<!--            <appender-ref ref="SENTRY"/>-->
        </root>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>
